@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

:root {
    --principalTxt: #b61531;
    --corSecundaria: #B10EC2;
    --corTerciaria: #C2390E;
    --corFundo: #00091bb9;
}

body, html {
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-color: var(--corFundo);
    scroll-behavior: smooth;
    margin: 0;
}


header {
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
}

.logo {
    max-width: 75px;
    transform: scaleX(-1);
    position: absolute;
    left: 0;
    margin-left: 1em;
    margin-top: 4em;
}

header h1 {
    display: flex;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    padding-bottom: 1.5em;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.178);
}

nav a {
    font-weight: 700;
    color: #FFF;
    padding: .5em;
    background-color: var(--corTerciaria);
    border-radius: 2px;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 0 20px;
}

section {
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; /* Centralizado o texto no centro da seção */
}

h1, h2 {
    color: var(--principalTxt);
}

h2, h3 {
    font-weight: 700;
    margin: 0; /* Removido o espaçamento padrão das tags h2 e h3 */
}

span {
    text-align: justify;
    padding: 0 20px;
    color: #FFF;
}

p {
    text-indent: 1em;
    margin: 5px 0;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagens {
    max-width: 300px;
    justify-self: end; /*Corrigido o alinhamento das imagens*/
    filter: drop-shadow(rgba(0, 0, 0, 0.384) 0 0 5px);
}

.inverter {
    transform: scaleX(-1);
}

ul {
    margin-top: 1em;
    padding-left: 20px; /* Adicionado espaçamento à esquerda nas listas */
}

ul, li {
    list-style-type: disc;
    list-style-position: inside;
    margin: 6px 0;
}

/* Estilos para a seção de compras */
#compras {
    background-color: #f5f5f5;
    padding: 20px;
    padding-bottom: 70px;
    text-align: center;
}

#compras h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

#compras p {
    font-size: 16px;
    margin-bottom: 20px;
}

#compras ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

#compras li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: 300px;
}

#compras h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

#compras p {
    font-size: 1em;
    margin-bottom: 10px;
}

.capacetes {
    max-width: 150px;
    filter: drop-shadow(rgba(0, 0, 0, 0.363) 0 0 5px);
}

#compras button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#compras button:hover {
    background-color: #0056b3;
}

footer a {
    text-decoration: none; /* Corrigido para remover sublinhado */
    color: rgb(116, 255, 255);
}

footer a:hover {
    text-decoration: underline; /* Adicionado sublinhado no hover */
}

footer {
    position: fixed;
    background-color: black;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    padding: .3em;
    text-align: center;
}

@media screen and (max-width: 767px) {

    header {
        flex-direction: column;
    }

    .logo {
        position: relative;
        margin: 0;
    }

    .container {
        padding: 0;
    }

    .flex {
        flex-direction: column;
    }

    section {
        margin: 2em 0;
    }

    span {
        padding: 0 3em;
        margin-bottom: 1em;
    }

}